body {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}

.container {
    position: relative;
}

#webcam {
    position: absolute;
    top: 0;
    left: 0;
}

#output {
    position: absolute;
    top: 0;
    left: 0;
}

#fingerAngles {
    width: 500px;
    position: absolute;
    top: 500px;
    left: 0;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-family: Arial, sans-serif;
}